.location{
width: 600px;
outline: none;
border: 1px solid rgb(195, 193, 193);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
padding:5px 10px;
margin-top: 20px;
margin-left: 10px;
background-image: url('.././pictures/rainbowSky.jpg');
 background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
}

.submit{
  width: 80px;
border: 1px solid rgb(195, 193, 193);
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
padding:5px 10px;
background-color: rgb(121, 215, 238);
color: white;
cursor: pointer;
}

.submit:hover{
background-image: url('.././pictures/lavender.jpg');
  color: black;
  font-weight: bold;
}

.result{
  margin: 10px;
  padding:5px 10px;

}

.image{
  width: 600px;
  height: 400px;
  border-radius: 5px;
   padding:5px 10px;
}

h2{
  color: rgb(250, 250, 137);
  font-size: 3rem;
    padding:5px 10px;
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
}

strong{
  color: rgb(30, 147, 243);
font-size: 1.3rem;
}

p{
  margin: 5px;
  border: 1px solid rgb(210, 205, 210);
  padding:5px 10px;
  border-radius: 10px;
background-image: url('.././pictures/pink.jpg'); 
  color: white;
    width: 600px;
    font-size: 1.5rem;
    color: rgb(52, 53, 52);
}
  
